## .NET
bin/
obj/
*.user
*.suo
.vs/
*.log

## Secrets - NO subir
appsettings.Development.json

## Node
node_modules/

## Rider/VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db

## Publish output
publish/
